@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap&subset=latin-ext');

body {
  font-family: 'Press Start 2p', cursive, Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.container {
  /* background-color: chartreuse; */
  background-image: url('/assets/img/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4.6% 0;
  width: 100vw;
}

.grid-x {
  background-color: #539300;
  /* border: 1px solid #294900; */
  width: 50px;
  height: 50px;
}

.gridrow-y {
  display: flex;
  background-image: url('/assets/img/');
  width: 500px;
}
.snake {
  background-color: #254200;
}

.snake-body {
  background-color: #7ef482;
}

.food {
  background-color: red;
}

.game-score {
  color: #ffffff;
  font-size: 1rem;
  position: relative;
  bottom: 40px;
  right: 150px;
}
